.header{
    background-image: url(https://lh3.googleusercontent.com/FR2vSzLD7g5A_5HXaxJp9GG6rXfiLIhxt32OGH_81a8tT_Q1BdIVUV077y-SPxS2zCR2c1cyLfuIj9J8wdIQb7um0X1vB6IInetoSZibaQ);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    div{
        font-family: $texto;
        color: rgb(0, 0, 0);
        margin: 50px;
    }
}