.header {
    background-image: url(https://cdn.pixabay.com/photo/2022/12/19/10/41/coffee-7665238_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;

    div {
        font-family: $texto;
        color: rgb(0, 0, 0);
        margin: 50px;
    }
}