.main-reco {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);

    h1 {
        text-align: center;
        padding: 20px;
        font-family: $titulo;
        font-size: 700;
        color: rgb(0, 0, 0);
    }
}

.recomendaciones {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 45vh;

    p {
        color: rgb(0, 0, 0);
        padding: 50px;
        font-family: $texto;
        font-size: 500;
        text-align: center;
    }

    img {
        height: 70vh;
        padding: 30px;
    }
}

.recomendaciones-1 {
    display: flex;
    align-items: center;
    height: 45vh;

    p {
        color: rgb(0, 0, 0);
        padding: 50px;
        font-family: $texto;
        font-size: 500;
        text-align: center;
    }

    img {
        height: 70vh;
        padding: 30px;
    }
}

.recomendaciones-2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 45vh;

    p {
        color: rgb(0, 0, 0);
        padding: 50px;
        font-family: $texto;
        font-size: 500;
        text-align: center;
    }

    img {
        height: 70vh;
        padding: 30px;
    }
}

//---------------------------------------------
@media(max-width:851px) {
    .main-reco {
        height: 1900px;
    }

    .recomendaciones {
        height: 100vh;
        flex-direction: column;

        p {
            padding: 10px;
        }

        img {
            height: 70vh;
        }
    }

    .recomendaciones-1 {
        height: 100vh;
        flex-direction: column;

        p {
            padding: 10px;
        }

        img {
            height: 70vh;
        }
    }

    .recomendaciones-2 {
        height: 100vh;
        flex-direction: column;

        p {
            padding: 10px;
        }

        img {
            height: 70vh;
        }
    }
}

@media(max-width:426px) {
    .recomendaciones {
        img {
            height: 50vh;
        }
    }

    .recomendaciones-1 {
        img {
            height: 50vh;
        }
    }

    .recomendaciones-2 {
        img {
            height: 50vh;
        }
    }
}