.nav-index {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.477));
    font-family: $titulo;

    img {
        height: 100px;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 70vw;
        list-style: none;

        a {
            text-decoration: none;
            color: rgb(255, 255, 255);

            &:hover {
                color: rgb(245, 127, 91);
            }
        }
    }
}

//----------MEDIA Q----------
@media(max-width:671px) {
    .nav-index {
        height: 23vh;
        flex-direction: column;
        flex-wrap: nowrap;
        ul{
            width: 100vw;
        }
    }
}
//----------------MOBILE-----------------
@media(max-width:588px){
    
}